# Define ignored and untracked files

# Operating system
[Dd]esktop.ini

# Integrated development environment
*.*-workspace

# Binary files
*.woff2

# Inputting process
record/catalog/*
record/content/*.json
record/content/*/*.md

# Prototyping process
.issue/
.stuff/
proto-*.*
