# Define ignored and untracked files

# Operating system
[Dd]esktop.ini

# Integrated development environment
*.*-workspace

# Binary files
*.woff2

# Inputting process
record/

# Prototyping process
.issue/
.stuff/
proto-*.*
