# ----------------------------------------------------------------------
# Rewrite Module
# ----------------------------------------------------------------------

<IfModule mod_rewrite.c>
  Options +FollowSymlinks -Multiviews
  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
# Rewriting rules for version 4
  # Pages temporarily unavailable
    RewriteRule ^activities$ /error-302 [R=302,L]
    RewriteRule ^capacities$ /error-302 [R=302,L]
    RewriteRule ^principles$ /error-302 [R=302,L]
# Rewriting rules for version 5
  # Index page
    RewriteRule ^index\.(htm|html|php) / [R=301,QSA,L]
  # Error page
    RewriteRule ^error-([a-zA-Z0-9\-]+)$ /error.php?case=$1 [QSA,L]
  # Basis page
    RewriteRule ^contact$ /basis.php?case=contact [QSA,L]
    RewriteRule ^imprint$ /basis.php?case=imprint [QSA,L]
</IfModule>

# ----------------------------------------------------------------------
# Error Document
# ----------------------------------------------------------------------

ErrorDocument 302 /error-302
ErrorDocument 404 /error-404
